body {
	background-color: #F8F8F8;
	text-align: center;
}

#name {
	font-family: Arial;
	text-align: center;
	vertical-align: middle; 

}

h2 {
	font-family: Arial;
	text-align: center;
	margin: auto;
}

#header {
	margin: center;
	position: static;
	top: 0%;
	height: 10%;
	color: white;
	background-color: #000000;
}

ul{
	list-style-type: none;
	text-align: right;
	vertical-align: middle; 
    margin: auto;
    padding: 10px;
}

li {
	font-size: 24px;
	display: inline;
    margin: auto;
	font-family: sans-serif;
	padding-right: 20px;
	padding-left: 20px;
	color: #FFFFFF;

}

#content {
	display: inline-block;
	margin: auto;
	vertical-align: middle; 
	text-align: center;
}

#picture {
	display: inline-block;
	padding: 20px;
}

img {
	height: 254px;
	width: 254px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;

}


#text {
	display: inline-block;
	padding: 20px;
	float: right;
	width: 762px;
	margin-right: 10px;
	text-align: left;
	vertical-align: center;
}

p {
	font-family: Tahoma;
	font-size: 1em;
}

